.c-header-heading1{
    font-size: 1.4rem;
    font-weight: bold;
    color: #4a4a4a;
}
.c-header-heading2{
    font-size: 1.4rem;
    font-weight: normal;
    color: #8c8c8c;
    margin-right: 1rem;
}